{{#each formFields}}

	{{#if (eq this.type 'hidden')}}
		<input 
			type="{{this.type}}"
			name="{{@key}}"
			value="{{this.value}}"
		/>

	{{else if (eq this.type 'radio')}}
		<section class="radiosection">
			<h2>{{{this.label}}}</h2>
			<p class="error-{{@key}}"></p>
			<div>
			{{#each this.options}}
				<input 
					type="{{../this.type}}"
					name="{{@../key}}"
					id="{{this.id}}"
					value="{{this.value}}"
					required
					{{#this.checked}}checked{{/this.checked}}
					{{#../this.required}}required{{/../this.required}}
				/>
				<label for="{{this.id}}" class="{{spreadAttributes ../this.classes}}">{{this.label}}</label>
			{{/each}}
			</div>
		</section>

	{{else if (eq this.type 'submit')}}
		<section class="submitsection">
			{{#if this.resetable}}
				<button type="reset" class="{{spreadAttributes this.classes}}">Velden legen</button>
			{{/if}}

			<button type="{{this.type}}" class="{{spreadAttributes this.classes}}">{{this.value}}</button>
		</section>

		{{else}}
			<div class="inputlabel">
				<label for="{{this.name}}">{{this.label}}</label>
				<p class="error-{{@key}}">{{this.error}}</p>
			</div>

		<input 
			type="{{this.type}}"
			name="{{@key}}"
			id="{{@key}}"
			value="{{this.value}}"
			autocomplete="{{this.autocomplete}}"
			data-error-msg="{{this.error}}"
			{{#this.required}}required{{/this.required}}
		/>

	{{/if}}

{{/each}}