{{#each formFields}}

	{{#if (eq this.type 'radio')}}
		<section class="radiosection">
			<h2>{{this.label}}</h2>
			<div>
			{{#each this.options}}
				<div>
					<input 
						type="{{../this.type}}"
						name="{{@../key}}"
						id="{{this.id}}"
						value="{{this.value}}"
						{{#this.checked}}checked{{/this.checked}}
						{{#../this.required}}required{{/../this.required}}
					/>
					<label for="{{this.id}}">{{this.label}}</label>
				</div>
			{{/each}}
			</div>
		</section>

		{{else}}
			<div class="inputlabel">
				<label for="{{this.name}}">{{this.label}}</label>{{#if (ne '' this.error)}}<p>* {{this.error}}</p>{{/if}}
			</div>

		<input 
			type="{{this.type}}"
			name="{{@key}}"
			id="{{@key}}"
			value="{{this.value}}"
			autocomplete="{{this.autocomplete}}"
			data-error-msg="{{this.error}}"
			{{#this.readonly}}readonly{{/this.readonly}}
			{{#this.required}}required{{/this.required}}
		/>

	{{/if}}

{{/each}}