<div class="inputlabel">
	<label for="{{this.name}}">{{this.label}}</label><p>{{#if (ne '' this.error)}}* {{this.error}}{{/if}}</p>
</div>

<input 
type="{{this.type}}" 
name="{{@key}}" 
id="{{@key}}" 
value="{{this.value}}" 
autocomplete="{{this.autocomplete}}" 
class="{{spreadAttributes this.classes}}"
data-error-msg="{{this.error}}"
{{#this.required}}required{{/this.required}}
/>
