<header>
	<div>
		<h1>Overzicht</h1>
		<p>Controleer je antwoorden voor het inleveren</p>
	</div>
</header>

<main>
	<article>
		<ul>
			{{#each completeSubjects}}
				<li>
					<a class="{{#if this}}complete{{else}}incomplete{{/if}}" href='/enquete?vak={{@key}}'>{{subjectName @key}}
						<div class="valid-icon{{#if this}}{{else}} invalid{{/if}}">
							<span>{{#if this}}Ingevuld{{else}}Niet ingevuld{{/if}}</span>
						</div>
					</a>
				</li>
			{{/each}}
		</ul>
	</article>
	<a href="#" class="underline">Verzenden</a>
</main>